body {
    text-align: center;
    margin: 0 auto;
    background-color: darkgrey;
    font-family: monospace;
}
#etch {
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.row {
    margin: 0 auto;
    border: 1px solid black;
}
#options {
    margin-top: 1%;
}
#save {
    width: 20%;
    min-width: 200px;
    margin-top: 0.5%;
}
#color {
    display: none;
}