body {
    text-align: center;
    margin: 0 auto;
    background-color: darkgrey;
}
#etch {
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.row {
    margin: 0 auto;
    border: 1px solid black;
}
